/* Base widget */
.steam-widget {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  display: inline-block;
  max-width: 300px;
  margin: 0.5rem 0;
  line-height: 1.5rem;
}
/* Default Theme */
.steam-widget.default {
  background: #1b2838;
  color: #c7d5e0;
}

.steam-widget.default strong {
  color: #66c0f4;
}
/* Win98 Theme */
.steam-widget.win98 {
  background: silver;
  font-family: sans-serif;
  font-size: 0.8em;
  box-shadow: 0;
  color: #222;
  padding: 1rem 1rem 0rem 1rem;
  text-align: left;
  border: 2px solid #fff;
  border-right-color: #808080;
  border-bottom-color: #808080;
  border-radius: 0;
}

.steam-widget.win98 strong {
  color: #0a0a0a;
}

.steam-widget.win98::before {
  content: "steam.exe";
  display: block;
  background: linear-gradient(90deg, navy, #1084d0);
  color: #fff;
  margin: -1rem -1rem 0rem -1rem;
  padding: 3px 2px 3px 3px;
  font-weight: bold;
  font-size: 0.9rem;
}

/* Steel Theme */
.steam-widget.steel {
  background: linear-gradient(
    180deg,
    rgba(121, 121, 121, 1) 0%,
    rgba(93, 93, 93, 1) 100%
  );
  color: #ffffff;
  border-radius: 12px;
  border: 1px solid #fff;
}

.steam-widget.steel strong {
  color: #ffffff;
  text-shadow: 1px 1px 2px #000;
}

/* Terminal */
.steam-widget.terminal {
  background: #000;
  color: #00ff66;
  font-family:monospace;
  border: 2px solid #141414;
  padding: 1rem .5rem .5rem .5rem;
  position: relative;
  overflow: hidden;
}

.steam-widget.terminal::before {
  content: "C:\\steam\\hrs.txt";
  display: block;
  background: #001a00;
  border-bottom: 1px solid #00ff66;
  padding: 4px 8px;
  margin: -1rem -1rem 1rem -1rem;
  font-size: 0.85rem;
  color: #00ff66;
  line-height: .9;
}

.steam-widget.terminal strong {
  color: #00ff66;
  text-shadow: 0 0 5px #00ff667c;
}

.steam-widget.terminal strong:first-of-type::before {
  content: "> ";
  font-weight: normal;
}

.steam-widget.terminal strong:last-of-type::before {
  content: "> ";
  font-weight: normal;
}

.steam-widget.terminal::after {
  content: "_";
  display: inline-block;
  color: #00ff66;
  font-weight: bold;
  animation: blink 1s steps(2, start) infinite;
}


@keyframes blink {
  0%, 50% { opacity: 1; }
  50.01%, 100% { opacity: 0; }
}

