    .steam-widget.default {
      padding: 0.5rem 1rem;
      background: #1b2838;
      color: #c7d5e0;
      border-radius: 8px;
      font-family: Arial, sans-serif;
      display: inline-block;
      max-width: 300px;
      margin: 0.5rem 0;
    }
    .steam-widget.default strong {
      color: #66c0f4;
    }

      .steam-widget.win98 {
    background: silver;
    font-family: sans-serif;
    font-size: .8em;
    box-shadow:0;
    color: #222;
    text-align: left;
    padding: 0;
    border: 2px solid #fff;      
    border-right-color: #808080; 
    border-bottom-color: #808080; 
    border-radius: 0; 
  }

  .steam-widget.win98 strong{
    color:#0a0a0a;
  }


.steam-widget.win98::before {
  content: "steam.exe";
  display: block;
  background: linear-gradient(90deg,navy,#1084d0);
  color: #fff;
  padding: 3px 2px 3px 3px;
  font-weight: bold;
  font-size: 0.9rem;
}

.steam-widget.win98::after {
  content: "X";
    display: block;
      color: #fff;
}