  .steam-widget.win98 {
    background: silver;
    font-family: sans-serif;
    font-size: .8em;
    box-shadow:0;
    color: #222;
    text-align: left;
    padding: 0;
    border: 2px solid #fff;      
    border-right-color: #808080; 
    border-bottom-color: #808080; 
    border-radius: 0; 
  }

  .steam-widget.win98 strong{
    color:#0a0a0a;
  }


.steam-widget.win98::before {
  content: "steam.exe";
  display: block;
  background: linear-gradient(90deg,navy,#1084d0);
  color: #fff;
  padding: 3px 2px 3px 3px;
  font-weight: bold;
  font-size: 0.9rem;
}

.steam-widget.win98::after {
  content: "X";
    display: block;
      color: #fff;
}